{% load static %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<div class="login-page">
    <h1 style="display: inline-block;">
        Iniciar sesión
    </h1>
    {% if form.errors %}
    <p class="pb-3" style="color: red;">
        Correo electrónico o contraseña incorrectos. Por favor, inténtelo de nuevo.
    </p>
    {% else %}
    <p class="pb-3">
        Por favor, introduzca sus credenciales de inicio de sesión.
    </p>
    {% endif %}
    <div class ="login-form rounded-3">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}

            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input class="rounded-3" type="submit" value="Iniciar sesión"/></p>
        </form>
        <p><a href="#">¿Olvidó su contraseña?</a></p>
    </div>
</div>

</body>
</html>