{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <a href="{% url 'details' product.id %}">
            {% if product.image %}
                <img class="thumbnail" src="{{ product.image.url }}">
            {% else %}
                <img class="thumbnail" src="/products/placeholder.png">
            {% endif %}
        </a>
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>

            <a href="{% url 'details' product.id %}">
            <button class="btn btn-outline-secondary add-btn">Ver producto</button>
            </a>
            <h4 style="display: inline-block; float: right;"><strong>
                    ${{product.price|floatformat:2}}
                </strong></h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
